<div class="body-container">
    <mat-card>
        <div class="row">
            <div class="col">
                <h1>Farms and Blocks</h1>
                <h2>Manage Farms, blocks and sub-blocks</h2>
            </div>
            <div class="col hide-mobile">
            <section>
                <div>
                    <button mat-button class="primary-material-button">Add Farm</button>
                    <button mat-stroked-button class="primary-material-stroked-button">Add Block</button>
                </div>
            </section>
            </div>
        </div>
        <div class="input-container">
            <div class="row align-items-center">
                <div class="col-md-3 col-xs-12">
                    <mat-form-field appearance="outline" class="no-padding mat-input">
                        <mat-label>Select or type a farm</mat-label>
                        <mat-select (selectionChange)="dropdownFilter($event.value)">
                            <mat-option [value]="dropdown.name" *ngFor="let dropdown of dropdownListValues">{{ dropdown.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-xs-12">
                    <mat-form-field appearance="outline" class="no-padding mat-input">
                        <mat-label>Search Columns</mat-label>
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput (input)="searchFuction($event.target.value)" type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-xs-6"></div>
                <div class="col-md-3 col-xs-6">
                    <mat-slide-toggle (change)="toggleRemoved($event.checked)" class="hide-mobile">Removed Blocks</mat-slide-toggle>
                    <mat-slide-toggle (change)="toggleRemoved($event.checked)" class="hide-fullscreen">Removed</mat-slide-toggle>
                </div>
            </div>
        </div>

        <table mat-table [dataSource]="farmData" matSort class="mat-elevation-z8 hide-mobile">

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon 
                        [ngClass]="{
                                'green-icon': element.status.toLowerCase() === 'production', 
                                'blue-icon' : element.status.toLowerCase() === 'area',
                                'grey-icon' : element.status.toLowerCase() === 'complete' }"
                                >
                                {{ element.status | statusIcon }}
                    </mat-icon>     
                </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header sortActionDescription="Sort by name" *matHeaderCellDef> Block </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="farmName">
                <th mat-header-cell *matHeaderCellDef> Farm </th>
                <td mat-cell *matCellDef="let element"> {{element.farmName}} </td>
            </ng-container>

            <ng-container matColumnDef="variant">
                <th mat-header-cell *matHeaderCellDef> Variant </th>
                <td mat-cell *matCellDef="let element"> {{element.variant}} </td>
            </ng-container>

            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> HA </th>
                <td mat-cell *matCellDef="let element"> {{element.size | removeDecimal}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Created </th>
                <td mat-cell *matCellDef="let element"> {{ element.createdAt | dateStringFormatter }} </td>
            </ng-container>

            <ng-container matColumnDef="deletedAt">
                <th mat-header-cell *matHeaderCellDef> Removed </th>
                <td mat-cell *matCellDef="let element"> {{ element.deletedAt | dateStringFormatter }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-list class="hide-fullscreen" *ngFor="let farm of farmData.filteredData">
            <mat-list-item>
                <h2>Status</h2>
                <div class="mat-list-text-container">
                    <mat-icon 
                    [ngClass]="{
                            'green-icon': farm.status.toLowerCase() === 'production', 
                            'blue-icon' : farm.status.toLowerCase() === 'area',
                            'grey-icon' : farm.status.toLowerCase() === 'complete' }"
                            >
                            {{ farm.status | statusIcon }}
                    </mat-icon>   
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>Block</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.name }}</h2>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>Farm</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.farmName }}</h2>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>Variant</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.variant }}</h2>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>HA</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.size | removeDecimal }}</h2>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>Created</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.createdAt | dateStringFormatter }}</h2>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2>Removed</h2>
                <div class="mat-list-text-container">
                    <h2>{{ farm.removedAt | dateStringFormatter }}</h2>
                </div>
            </mat-list-item>
            <mat-divider class="mat-list-devider"></mat-divider>
        </mat-list>

        <button class="fab-button" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>

        <mat-paginator class="hide-mobile" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    
    </mat-card>
</div>
