<mat-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <div class="logo-container">
                <mat-icon>menu</mat-icon>
                <img class="hide-mobile" src="../../../assets/images/logo.svg">
            </div>
        </div>
        <div class="col">
            <div class="header-title-container">
                <h2>Crownhill</h2>
            </div>
        </div>
        <div class="col text-end">
            <div class="icon-container">
                <span class="material-icons">
                    notifications
                </span>
                <span class="material-icons hide-mobile">
                    system_update_alt
                </span>
                <span class="material-icons hide-mobile">
                    person
                </span>
                <span class="material-icons hide-mobile">
                    help_outline
                </span>
                <span class="material-icons margin-4px-mobile">
                    more_vert
                </span>
            </div>
        </div>
      </div>
    </div>
</mat-toolbar>